{% assign bgclass = '' %}
{% if include.highlight == true %}
{% assign bgclass = 'bg-light' %}
{% endif %}
<section class="cards {{ bgclass }}">
    <div class="container">
        <h2 class="text-center pt-4 mb-2">{{ site.data.site.collections[include.collection].title }}</h2>
    </div>
    <div class="container">
        <div class="row py-4">
            {% assign moretext = site.data.site.collections[include.collection].more-text %}
            {% assign sorted-collection = site[include.collection] | sort: 'order' %}
            {% for item in sorted-collection %}
            {% assign imgsrc = '/_assets/' | relative_url | append: include.collection | append: '/' | append: item.img %}
            {% assign iconsrc = '/_assets/' | relative_url | append: include.collection | append: '/' | append: item.icon %}
            {% assign color = 'dark' %}
            {% if item.accent-color %}
            {% assign color = item.accent-color %}
            {% endif %}
            {% assign bgcolor = 'white' %}
            {% if item.bg-color %}
            {% assign bgcolor = item.bg-color %}
            {% endif %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-flip border-{{ color }} bg-{{ bgcolor }} h-100">
                    <div class="card-front text-center d-flex flex-column h-100 w-100">
                        {% if item.fa-icon %}
                        <i class="{{ item.fa-icon }} fa-4x text-{{ color }}"></i>
                        {% endif %}
                        {% if item.icon %}
                        <img class="icon align-self-center" src="{{ iconsrc }}" alt="Feature icon cap">
                        {% endif %}
                        {% if item.img %}
                        <img class="card-img-top" src="{{ imgsrc }}" alt="Feature image cap">
                        {% endif %}
                        <div class="card-body flex-grow-1 d-flex flex-column justify-content-center">
                            <h4 class="card-title">{{ item.title }}</h4>
                        </div>
                    </div>
                    <div class="card-back h-100 w-100">
                        <div class="card-body h-100">
                            {{ item.content | markdownify }}
                        </div>
                        {% if item.readmore %}
                        {% assign rmref = item.readmore | relative_url %}
                        <a href="{{ rmref }}" class="btn btn-{{ color }} btn-sm readmore">{{ moretext }}</a>
                        {% endif %}
                        {% if item.readmore-external %}
                        <a href="{{ item.readmore-external }}" class="btn btn-{{ color }} btn-sm readmore" target="_blank">{{ moretext }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>