<section class="container pb-5 pt-4">
    {% for post in site.posts %}
    {% if post.pin == true and post.categories contains include.collection %}
    <h4>{{ post.title }}</h4>
    <small class="text-muted">{{ post.date | date: "%B %e, %Y" }}</small>
    <div class="mt-2 mb-2">{{ post.content | markdownify }}</div>
    <hr>
    {% endif %}
    {% endfor %}
    {% for post in site.posts %}
    {% unless post.pin == true %}
    {% if post.categories contains include.collection %}
    <h4>{{ post.title }}</h4>
    <small class="text-muted">{{ post.date | date: "%B %e, %Y" }}</small>
    <div class="mt-2 mb-2">{{ post.content | markdownify }}</div>
    {% unless forloop.last %}
    <hr>
    {% endunless %}
    {% endif %}
    {% endunless %}
    {% endfor %}
</section>